<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bluetooth-printer"
        version="0.0.1-dev">

   <name>BluetoothPrinter</name>
   <description>A cordova android platform plugin for bluetooth printer.</description>

   <repo>https://github.com/padrta/Cordova-Bluetooth-Printer-Plugin</repo>
   <license>Apache 2.0</license>
   <keywords>cordova, bluetooth, printer, image</keywords>

   <author>J.O.S.S. FZE </author>

   <!-- cordova -->
   <engines>
      <engine name="cordova" version=">=3.0.0" />
   </engines>

   <js-module src="www/BluetoothPrinter.js" name="BluetoothPrinter">
      <clobbers target="BTPrinter" />
   </js-module>

   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="BluetoothPrinter">
            <param name="android-package" value="com.josservices.cordova.plugins.bluetooth.BluetoothPrinter"/>
         </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission android:name="android.permission.BLUETOOTH" />
      </config-file>

      <source-file src="src/android/BluetoothPrinter.java" target-dir="src/com/josservices/cordova/plugins/bluetooth" />
      <source-file src="src/android/BluetoothService.java" target-dir="src/com/josservices/cordova/plugins/bluetooth" />
   </platform>
</plugin>
